@import "scss/variables";
@import "scss/mixins/breakpoints";
 


//---------------------------------------------------------------------------
// General
//
.font-dosis {
  font-family: Dosis, Roboto, sans-serif;
}




//---------------------------------------------------------------------------
// Header images
//
.bg-ui-general {
  background-image: url(../img/header/general.png);
}


//---------------------------------------------------------------------------
// Buttons
//
.doc-btn-spacing {
  .btn {
    margin-bottom: 10px;
    margin-right: 6px;
  }

  .btn-group {
    margin-bottom: 10px;
  }

  .btn-group .btn,
  .btn-group .btn-group,
  .btn-group-vertical .btn {
    margin-bottom: 0;
    margin-right: 0;
  }
}





//---------------------------------------------------------------------------
// Dropdown
//
.doc-dropdown {
  .dropdown,
  .dropup {
    display: inline-block;
  }

  .dropdown-menu,
  .dropdown-grid {
    transform: scale(1, 1);
  }
}





//---------------------------------------------------------------------------
// Colors
//
.doc-bg-colors-spacing > [class*="bg-"] {
  padding: 8px;
  margin-bottom: 8px;
}


.doc-link-colors-spacing > a[class] {
  padding-right: 8px;
}






//---------------------------------------------------------------------------
// Sample topbars demo
//
.doc-topbar-static .topbar {
  position: static;
  box-shadow: 0 0 5px rgba(0,0,0,0.08);

  .sidebar-toggler,
  .topbar-menu-toggler {
    display: none;
  }

  .topbar-menu-open & .topbar-navigation {
    display: none;
  }
}

.doc-topbar-static .topbar.bg-transparent {
  box-shadow: none;
}





//---------------------------------------------------------------------------
// Animate on scroll
//
.doc-aos {

  div {
    width: 200px;
    height: 200px;
    margin: 0 auto 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.07);
  }

}




//---------------------------------------------------------------------------
// Media
//
.demo-code-for-media {
  .code-title {
    background-color: #fff;
  }

  .code-preview {
    padding: 0;
  }

  .code-toggler ~ pre {
    display: none;
  }
}

.doc-media-bg .media  {
  background-color: #f9fafb;
}



//---------------------------------------------------------------------------
// Icons
//
.demo-icons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 32px;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 32px + 40px;
    height: 32px + 40px;
    text-align: center;
    cursor: pointer;
    transition: .1s;

    .material-icons {
      font-size: inherit;
    }

    [data-i8-icon] {
      margin: 0 10px;
    }

    [data-provide~="emoji"] svg {
      width: 32px;
      height: 32px;
    }

    &:hover {
      background-color: #f7fafc;
    }
  }

  &.icons-size-16px {
    font-size: 16px;

    li {
      width: 16px + 40px;
      height: 16px + 40px;
    }
  }

  &.icons-size-24px {
    font-size: 24px;

    li {
      width: 24px + 40px;
      height: 24px + 40px;
    }
  }

  &.icons-size-32px {
    font-size: 32px;

    li {
      width: 32px + 40px;
      height: 32px + 40px;
    }
  }

  &.icons-size-48px {
    font-size: 48px;

    li {
      width: 48px + 40px;
      height: 48px + 40px;
    }
  }

  &.icons-size-64px {
    font-size: 64px;

    li {
      width: 64px + 40px;
      height: 64px + 40px;
    }
  }

  &.icons-size-80px {
    font-size: 80px;

    li {
      width: 80px + 40px;
      height: 80px + 40px;
    }
  }

  &.icons-size-96px {
    font-size: 96px;

    li {
      width: 96px + 40px;
      height: 96px + 40px;
    }
  }
}





//---------------------------------------------------------------------------
// Emojione
//
.demo-emoji-list-container .demo-icons-list {

  li {
    margin-right: 0;
    margin-bottom: 0;
    width: 32px + 20px;
    height: 32px + 20px;
  }

  &.icons-size-16px li {
    width: 16px + 20px;
    height: 16px + 20px;

    [data-provide~="emoji"] svg {
      width: 16px;
      height: 16px;
    }
  }

  &.icons-size-24px li {
    width: 24px + 20px;
    height: 24px + 20px;

    [data-provide~="emoji"] svg {
      width: 24px;
      height: 24px;
    }
  }

  &.icons-size-32px li {
    width: 32px + 20px;
    height: 32px + 20px;

    [data-provide~="emoji"] svg {
      width: 32px;
      height: 32px;
    }
  }

  &.icons-size-48px li {
    width: 48px + 20px;
    height: 48px + 20px;

    [data-provide~="emoji"] svg {
      width: 48px;
      height: 48px;
    }
  }


  &.icons-size-64px li {
    width: 64px + 20px;
    height: 64px + 20px;

    [data-provide~="emoji"] svg {
      width: 64px;
      height: 64px;
    }
  }

  &.icons-size-80px li {
    width: 80px + 20px;
    height: 80px + 20px;

    [data-provide~="emoji"] svg {
      width: 80px;
      height: 80px;
    }
  }

  &.icons-size-96px li {
    width: 96px + 20px;
    height: 96px + 20px;

    [data-provide~="emoji"] svg {
      width: 96px;
      height: 96px;
    }
  }


}





//---------------------------------------------------------------------------
// Color list
//
.demo-color-list {
  list-style: none;
  padding: 0;
  margin: 0;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-between;

  li {
    display: inline-flex;
    flex-direction: column;
    margin: 20px;
    margin-right: 0;
    border: 1px solid $color-divider-light;

    > span {
      display: flex;
      flex-grow: 1;
      flex-basis: 100px;
      min-height: 80px;
      min-width: 160px;
    }
  }

  p {
    font-size: 12px;
    padding: 6px 12px;
    margin-bottom: 0;
    background-color: $color-bg-lightest;
    border-top: 1px solid $color-divider-light;
  }
}





//---------------------------------------------------------------------------
// Tooltip
//
.demo-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-bottom: 15px;
}



// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}
.topbar {
    transition: 0.3s all ease-in-out;
}

.nav-down {
    top: 0;
}

.nav-up {
    top: -64px;
    @include lg {
       top: 0;
    }
}

body .topbar+.main-container, body .topbar+main {
    padding-top: 140px;
    @include lg {
        box-shadow: 4px 0 5px rgba(0,0,0,0.08);
        padding-top: 64px;
    }
}

.topbar-bottom span {
    display: block;
}

.topbar-bottom span.ikonica {
    font-size: 26px;
    padding-top: 3px;
}
.topbar-bottom a:hover {
    background-color: rgba(255,255,255,0.2);
}
.topbar-bottom a {
    display: block;
    padding: 0 10px;
    height: 100%;
    text-align: center;
    color: #fff;
    font-weight: 500;
    border-radius: 3px;
}

.topbar-bottom {
    display: flex;
    padding: 5px 0;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.07);
    border-bottom: 1px solid $plava-1;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.04);
    background-color: $plava-2;
    @include media-up(lg) {
        display: none;
    }
}

.profile-info {
    line-height: 120%;
}
.profile-info p {
    margin: 0;
}

span.logo {
    text-align: center;
}

.sidebar-iconic .menu-item {
    border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
}
.sidebar-iconic .menu-item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.topbar .lookup-circle {
    width: 100%;
    padding-right: 0;
    @include lg {
        padding-right: 12px;
       width: 350px;
    }
}
.topbar .pretraga-panel {
    width: 100%;
    @include lg {
       width: 350px;
    }
}

.pretraga-popup {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 60px;
    left: 2vw;
    width: 96vw;
    min-height: 50px;
    background-color: #fff;
    border: 1px solid  rgba(0,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 3px;
    padding: 10px;
    
    @include lg {
       width: 320px;
    }
}

.pretraga-rezultati {
    display: none;
}

.topbar .media-list.search-media {
    width: 100% !important;
}

.topbar .topbar-left {
    flex-grow:1;
}

.lookup-circle input {
    width: 100%;
    @include lg {
       width: 110px;
    }
}
.lookup-circle input:focus {
    width: 100%;
} 

.kurs-card-button {
    flex: 1 1 0;
    margin: 0 3px;
}

.kurs-card .card-body {
    padding-top: 0;
}
.kurs-card-cijena {
    display: inline-block;
    color: $color-primary; 
    font-size: 16px;
    font-weight: 500;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.card-hover {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.kurs-card .card-header,
.kurs-card .card-body {
    transition: all 0.5s ease;
}

.kurs-card:hover .card-header,
.kurs-card:hover .card-body
{
    @include lg {
        -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    }
}

.kurs-card .card-hover {
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
    @include lg {
        display: block;
    }
}
.kurs-card:hover .card-hover {
    opacity: 1;
}

.kurs-card .card-hover a:first-child {
    border-top: 1px solid #0000001c;
}
.kurs-card .card-hover a {
    display: block;
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 16px;
    color: #FFF;
    border-bottom: 1px solid #0000001c;
    background: #0000001f;
}

.kurs-card .card-hover a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.kurs-card .card-hover .card-hover-header {
    margin: 30px 0;
    padding: 0 30px;
}
.kurs-card .card-hover p.naslov-kursa {
    color: #FFF;
    font-size: 20px;
}

.kurs-ocjena {
    color: $color-warning;
    font-size: 16px;
    font-family: "FontAwesome";
}

.kurs-ocjena i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.kurs-ocjena .puna:before {
    content: "\f005"
}
.kurs-ocjena .pola:before {
    content: "\f123"
}
.kurs-ocjena .prazna:before {
    content: "\f006"
}

.topbar {
    @include media-down(md) {
        background-color: $plava-1;

    }
}
.topbar .lookup::before {
    @include media-down(md) {
        color: #FFF;
    }
}
.lookup-circle input
{
    @include media-down(md) {
        background-color: rgba(255, 255, 255, 0.07);
        color: #FFF;
    }
}
.lookup-circle input:focus
{
    @include media-down(md) {
        background-color: rgba(255, 255, 255, 0.15);
    }
}
.topbar input::placeholder {
    @include media-down(md) {
        color: rgba(255, 255, 255, 0.69);
    }
}
.topbar-btn.sidebar-toggler {
    @include media-down(md) {
        color: #FFF !important;
    }
}