.font-dosis {
  font-family: Dosis, Roboto, sans-serif;
}

.bg-ui-general {
  background-image: url(../img/header/general.png);
}

.doc-btn-spacing .btn {
  margin-bottom: 10px;
  margin-right: 6px;
}

.doc-btn-spacing .btn-group {
  margin-bottom: 10px;
}

.doc-btn-spacing .btn-group .btn,
.doc-btn-spacing .btn-group .btn-group,
.doc-btn-spacing .btn-group-vertical .btn {
  margin-bottom: 0;
  margin-right: 0;
}

.doc-dropdown .dropdown,
.doc-dropdown .dropup {
  display: inline-block;
}

.doc-dropdown .dropdown-menu,
.doc-dropdown .dropdown-grid {
  transform: scale(1, 1);
}

.doc-bg-colors-spacing > [class*="bg-"] {
  padding: 8px;
  margin-bottom: 8px;
}

.doc-link-colors-spacing > a[class] {
  padding-right: 8px;
}

.doc-topbar-static .topbar {
  position: static;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.doc-topbar-static .topbar .sidebar-toggler,
.doc-topbar-static .topbar .topbar-menu-toggler {
  display: none;
}

.topbar-menu-open .doc-topbar-static .topbar .topbar-navigation {
  display: none;
}

.doc-topbar-static .topbar.bg-transparent {
  box-shadow: none;
}

.doc-aos div {
  width: 200px;
  height: 200px;
  margin: 0 auto 50px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
}

.demo-code-for-media .code-title {
  background-color: #fff;
}

.demo-code-for-media .code-preview {
  padding: 0;
}

.demo-code-for-media .code-toggler ~ pre {
  display: none;
}

.doc-media-bg .media {
  background-color: #f9fafb;
}

.demo-icons-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 32px;
}

.demo-icons-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 72px;
  height: 72px;
  text-align: center;
  cursor: pointer;
  transition: .1s;
}

.demo-icons-list li .material-icons {
  font-size: inherit;
}

.demo-icons-list li [data-i8-icon] {
  margin: 0 10px;
}

.demo-icons-list li [data-provide~="emoji"] svg {
  width: 32px;
  height: 32px;
}

.demo-icons-list li:hover {
  background-color: #f7fafc;
}

.demo-icons-list.icons-size-16px {
  font-size: 16px;
}

.demo-icons-list.icons-size-16px li {
  width: 56px;
  height: 56px;
}

.demo-icons-list.icons-size-24px {
  font-size: 24px;
}

.demo-icons-list.icons-size-24px li {
  width: 64px;
  height: 64px;
}

.demo-icons-list.icons-size-32px {
  font-size: 32px;
}

.demo-icons-list.icons-size-32px li {
  width: 72px;
  height: 72px;
}

.demo-icons-list.icons-size-48px {
  font-size: 48px;
}

.demo-icons-list.icons-size-48px li {
  width: 88px;
  height: 88px;
}

.demo-icons-list.icons-size-64px {
  font-size: 64px;
}

.demo-icons-list.icons-size-64px li {
  width: 104px;
  height: 104px;
}

.demo-icons-list.icons-size-80px {
  font-size: 80px;
}

.demo-icons-list.icons-size-80px li {
  width: 120px;
  height: 120px;
}

.demo-icons-list.icons-size-96px {
  font-size: 96px;
}

.demo-icons-list.icons-size-96px li {
  width: 136px;
  height: 136px;
}

.demo-emoji-list-container .demo-icons-list li {
  margin-right: 0;
  margin-bottom: 0;
  width: 52px;
  height: 52px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-16px li {
  width: 36px;
  height: 36px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-16px li [data-provide~="emoji"] svg {
  width: 16px;
  height: 16px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-24px li {
  width: 44px;
  height: 44px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-24px li [data-provide~="emoji"] svg {
  width: 24px;
  height: 24px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-32px li {
  width: 52px;
  height: 52px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-32px li [data-provide~="emoji"] svg {
  width: 32px;
  height: 32px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-48px li {
  width: 68px;
  height: 68px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-48px li [data-provide~="emoji"] svg {
  width: 48px;
  height: 48px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-64px li {
  width: 84px;
  height: 84px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-64px li [data-provide~="emoji"] svg {
  width: 64px;
  height: 64px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-80px li {
  width: 100px;
  height: 100px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-80px li [data-provide~="emoji"] svg {
  width: 80px;
  height: 80px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-96px li {
  width: 116px;
  height: 116px;
}

.demo-emoji-list-container .demo-icons-list.icons-size-96px li [data-provide~="emoji"] svg {
  width: 96px;
  height: 96px;
}

.demo-color-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.demo-color-list li {
  display: inline-flex;
  flex-direction: column;
  margin: 20px;
  margin-right: 0;
  border: 1px solid #f1f2f3;
}

.demo-color-list li > span {
  display: flex;
  flex-grow: 1;
  flex-basis: 100px;
  min-height: 80px;
  min-width: 160px;
}

.demo-color-list p {
  font-size: 12px;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: #fcfdfe;
  border-top: 1px solid #f1f2f3;
}

.demo-tooltip-static .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-bottom: 15px;
}

.topbar {
  transition: 0.3s all ease-in-out;
}

.nav-down {
  top: 0;
}

.nav-up {
  top: -64px;
}

@media (min-width: 992px) {
  .nav-up {
    top: 0;
  }
}

body .topbar + .main-container, body .topbar + main {
  padding-top: 140px;
}

@media (min-width: 992px) {
  body .topbar + .main-container, body .topbar + main {
    box-shadow: 4px 0 5px rgba(0, 0, 0, 0.08);
    padding-top: 64px;
  }
}

.topbar-bottom span {
  display: block;
}

.topbar-bottom span.ikonica {
  font-size: 26px;
  padding-top: 3px;
}

.topbar-bottom a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.topbar-bottom a {
  display: block;
  padding: 0 10px;
  height: 100%;
  text-align: center;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
}

.topbar-bottom {
  display: flex;
  padding: 5px 0;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom: 1px solid #011A27;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.04);
  background-color: #063852;
}

@media (min-width: 992px) {
  .topbar-bottom {
    display: none;
  }
}

.profile-info {
  line-height: 120%;
}

.profile-info p {
  margin: 0;
}

span.logo {
  text-align: center;
}

.sidebar-iconic .menu-item {
  border-top: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.sidebar-iconic .menu-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05) !important;
}

.topbar .lookup-circle {
  width: 100%;
  padding-right: 0;
}

@media (min-width: 992px) {
  .topbar .lookup-circle {
    padding-right: 12px;
    width: 350px;
  }
}

.topbar .pretraga-panel {
  width: 100%;
}

@media (min-width: 992px) {
  .topbar .pretraga-panel {
    width: 350px;
  }
}

.pretraga-popup {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 60px;
  left: 2vw;
  width: 96vw;
  min-height: 50px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 10px;
}

@media (min-width: 992px) {
  .pretraga-popup {
    width: 320px;
  }
}

.pretraga-rezultati {
  display: none;
}

.topbar .media-list.search-media {
  width: 100% !important;
}

.topbar .topbar-left {
  flex-grow: 1;
}

.lookup-circle input {
  width: 100%;
}

@media (min-width: 992px) {
  .lookup-circle input {
    width: 110px;
  }
}

.lookup-circle input:focus {
  width: 100%;
}

.kurs-card-button {
  flex: 1 1 0;
  margin: 0 3px;
}

.kurs-card .card-body {
  padding-top: 0;
}

.kurs-card-cijena {
  display: inline-block;
  color: #FF0038;
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.card-hover {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1199px) {
  .card-hover {
    display: none;
  }
}

.kurs-card .card-header,
.kurs-card .card-body {
  transition: all 0.5s ease;
}

@media (min-width: 992px) {
  .kurs-card:hover .card-header,
  .kurs-card:hover .card-body {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
}

.card-hover {
  transition: all 0.5s ease;
  opacity: 0;
  display: flex;
}

.kurs-card:hover .card-hover {
  opacity: 1;
}

@media (max-width: 1199px) {
  .kurs-card:hover .card-hover {
    opacity: 0;
  }
}

.kurs-card .card-hover a:first-child {
  border-top: 1px solid #0000001c;
}

.kurs-card .card-hover a {
  display: block;
  width: 100%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-size: 16px;
  color: #FFF;
  border-bottom: 1px solid #0000001c;
  background: #0000001f;
}

.kurs-card .card-hover a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.kurs-card .card-hover .card-hover-header {
  margin: 30px 0;
  padding: 0 30px;
}

.kurs-card .card-hover p.naslov-kursa {
  color: #FFF;
  font-size: 20px;
}

.kurs-ocjena {
  color: #faa64b;
  font-size: 16px;
  font-family: "FontAwesome";
}

.kurs-ocjena i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kurs-ocjena .puna:before {
  content: "\f005";
}

.kurs-ocjena .pola:before {
  content: "\f123";
}

.kurs-ocjena .prazna:before {
  content: "\f006";
}

.novi-kurs-card {
  cursor: pointer;
}

.novi-kurs-card:hover {
  background-color: #eee;
}

@media (max-width: 991px) {
  .topbar {
    background-color: #011A27;
  }
}

@media (max-width: 991px) {
  .topbar .lookup::before {
    color: #FFF;
  }
}

@media (max-width: 991px) {
  .lookup-circle input {
    background-color: rgba(255, 255, 255, 0.07);
    color: #FFF;
  }
}

@media (max-width: 991px) {
  .lookup-circle input:focus {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

@media (max-width: 991px) {
  .topbar input::placeholder {
    color: rgba(255, 255, 255, 0.69);
  }
}

@media (max-width: 991px) {
  .topbar-btn.sidebar-toggler {
    color: #FFF !important;
  }
}

/*# sourceMappingURL=style.css.map */