<script id="nova-spojnica-template" type="text/html">
    <div class="spojnica" data-spojnica-id="{{id_spojnice}}">
        <div class="row">
            <div class="col-6">
                <label>Termin 1:</label>
                <input type="text" name="spojnice[{{id_spojnice}}][termin_1]" class="form-control">
            </div>
            <div class="col-6">
                <label>Termin 2:</label>
                <input type="text" name="spojnice[{{id_spojnice}}][termin_2]" class="form-control">
            </div>
        </div>
    </div>
</script>
